Source: catkin-lint
Section: python
Priority: extra
Maintainer: Timo Röhling <timo.roehling@fkie.fraunhofer.de>
Build-Depends: debhelper (>= 9), dh-python,
               python-all, python3-all,
               python-nose, python-mock, python3-nose, python3-mock,
               python-setuptools, python3-setuptools,
               python-catkin-pkg, python-rosdistro,
               python-rosdep
Homepage: https://github.com/fkie/catkin_lint
X-Python-Version: >= 2.7
X-Python3-Version: >= 3.2
Standards-Version: 3.9.7

Package: python-catkin-lint
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}
Recommends: python-catkin-tools
Conflicts: python3-catkin-lint
Description: Check catkin packages for common errors
 Lints the package.xml and CMakeLists.txt files of catkin packages
 and gives useful diagnostics for common mistakes.

Package: python3-catkin-lint
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}
Recommends: python3-catkin-tools
Conflicts: python-catkin-lint
Description: Check catkin packages for common errors
 Lints the package.xml and CMakeLists.txt files of catkin packages
 and gives useful diagnostics for common mistakes.

